body {
    background-image: url("/img/background.jpg");
    margin: 0;
    padding: 0;
}
#star-wars {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;

}
.film-wrapper{
    padding: 5px;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.03);
    border-radius: 5%;
    height: 100%;
    width: 500px;
}
.title {
    margin-bottom: 20px;
    text-align: center;
    text-transform: uppercase;
    color: #FFCB05;
    font-family: sans-serif;
}
.openingCrawl {
    height: 111px;
    text-align: center;
    text-transform: uppercase;
    color: #FFCB05;
    font-family: sans-serif;
    font-size: 12px;
    margin-bottom: 182px;
}
.charactersList {

    height: 150px;
    overflow: scroll;
}
.charactersList::-webkit-scrollbar {
    width: 5px;
    height: 0;
}
.charactersList::-webkit-scrollbar-track {
    background: #472e00;
}
.charactersList::-webkit-scrollbar-thumb {
    border: 3px solid orange;
}
.listItem {

    text-align: center;
    border-bottom: 1px solid #594701;
    color: #dcc363;
}
.loader {
    margin: 0 auto;
    position: relative;
    width: 300px;
    height: 10px;
}
.loader:before,
.loader:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10%;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
.loader:before {
    width: 100%;
    height: 100%;
    background-color: rgba(0,255,0,0.2);
    box-shadow: 0 0 10px rgba(0,255,0,0.5), 0 0 20px rgba(0,255,0,0.5), 0 0 30px rgba(0,255,0,0.5), 0 0 40px rgba(0,255,0,0.5), 0 0 70px rgba(0,255,0,0.5), 0 0 80px rgba(0,255,0,0.5), 0 0 100px rgba(0,255,0,0.5), 0 0 150px rgba(0,255,0,0.5);
    animation-name: sword-glow;
}
.loader:after {
    width: 100%;
    height: 100%;
    background-color: #00ff00;
    box-shadow: 0 0 10px #00ff00, 0 0 20px #00ff00, 0 0 30px #00ff00, 0 0 40px #00ff00, 0 0 70px #00ff00, 0 0 80px #00ff00, 0 0 100px #00ff00, 0 0 150px #00ff00;
    animation-name: sword-glow;
}
@keyframes sword-glow {
    0% {
        transform: translate(-50%, -50%) scale(1);
        box-shadow:  0 0 10px #90ee8e;
    }
    50% {
        transform: translate(-50%, -50%) scale(.9);
        box-shadow:  0 0 10px #90ee8e;
        opacity: 0.5;
    }
    100% {
        transform: translate(-50%, -50%) scale(1);
        box-shadow:  0 0 10px #90ee8e;
    }
}
